.edit-profile-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.edit-profile-modal__container {
  background-color: white;
  border-radius: 12px;
  padding: 30px;
  width: 460px;
  font-family: "Cabinet Grotesk", sans-serif;
  position: relative;
  box-sizing: border-box;
}

.edit-profile-modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.edit-profile-modal__title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}

.edit-profile-modal__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.edit-profile-modal__label {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.edit-profile-modal__input {
  margin-top: 6px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-profile-modal__save {
  background-color: black;
  color: white;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 12px;
}