.modal__form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: white;
  border-radius: 10px;
}

.modal__form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal__form button[type="submit"] {
  background-color: #347eff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.modal__form button[type="button"] {
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
  margin-top: 5px;
}

.modal__button-row {
  display: flex;
  align-items: center;
}

.modal__register {
  display: flex;
  justify-content: center;
  margin-left: 12px;
  font-size: 16px;
  font-weight: 700;
  font-style: bold;
  font-family: "Cabinet Grotesk", sans-serif;
}
